---
version: "3.9"

services:
  database:
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: DPEPGHbjUluRjetU
      MONGODB_DATABASE: pubcode

    image: ghcr.io/bcgov/nr-containers/mongo:7.0.28
    ports: ["27017:27017"]
    restart: unless-stopped

  mongo-express: # The admin UI container for mongoDB
    image: mongo-express
    restart: unless-stopped
    ports:
      - "8001:8081"
    environment:
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_AUTH_DATABASE: db
      ME_CONFIG_MONGODB_AUTH_USERNAME: default
      ME_CONFIG_MONGODB_AUTH_PASSWORD: default
      ME_CONFIG_MONGODB_ADMINUSERNAME: default
      ME_CONFIG_MONGODB_ADMINPASSWORD: default
      ME_CONFIG_MONGODB_URL: mongodb://admin:DPEPGHbjUluRjetU@database:27017/
    depends_on:
      database:
        condition: service_started

  api:
    image: pub-code-api:latest
    build:
      context: api
    environment:
      DB_HOST: database
      DB_USER: admin
      DB_PWD: DPEPGHbjUluRjetU
      DB_NAME: pubcode
    ports:
      - "3005:3000"
    restart: unless-stopped
    depends_on:
      database:
        condition: service_started

  #Run npm run build-watch in local before this.
  frontend:
    image: caddy:2.10.2-alpine
    working_dir: /app
    volumes:
      - ./frontend/Caddyfile:/etc/caddy/Caddyfile
      - ./frontend/dist:/app/dist
    depends_on:
      api:
        condition: service_started
    ports:
      - "3002:3000"
    restart: unless-stopped
