#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    top: 4em !important;
}
.editForm{
    margin: 1em;
}
.Mui-disabled{
    background-color: #dadada !important;
}
.leftDrawerButtons{
    color: #ffffff !important;
    background-color: #355992 !important;
    border-radius: 0.3em !important;
    width: 10em !important;
}

.MuiDrawer-paperAnchorDockedLeft{
    z-index: 0 !important;
    top: 4em !important;
}
