.appContent {
  padding: 1rem;
  margin-left: -10rem;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

.yamlContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#yamlSyntaxHighlighter {
  margin-right: 1rem;
}
.customButton {
  margin-right: 1rem !important;
}

@media (max-width: 37.5rem) {
  .appContent {
    padding: 0.625rem;
    margin-left: -5rem;
  }
  
  .yamlContent {
    gap: 0.5rem;
  }
  
  .customButton {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 0.5rem !important;
  }
}
